@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
	font-weight: 300;

}
h2{
    margin-top: 30px;
    margin-bottom: 140px;
}
.compteur{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.numbers{
    font-size: 90px;
    color: #000000;
   
}
.bnt{
    padding: 25px 90px;
    background-color: #E91E63;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}
.reset{
    font-size: 20px;
    color: #7B7B7B;
    cursor: pointer;
}

